$normalTransparent: rgba(131, 131, 131, 0.3);
$highlightTransparent: rgba(236, 236, 236, 0.3);
$lighterTransparent: rgba(177, 177, 177, 0.3);
$darkerTransparent: rgba(63, 63, 63, 0.3);
$textColor: #dbdbdb;
