@import-normalize;

* {
  box-sizing: border-box;
}

.App {
  background-color: black;
  height: 100vh;
  font-family: sans-serif;
}

.wrapper {
  background-image: url(../assets/images.nosync/street.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: center;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(63, 63, 63, 0.3);
  color: #dbdbdb;
  padding: 30px;
  position: relative;
  backdrop-filter: blur(2px);
}

.main-screen {
  height: 85vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
}

.navListItem {
  list-style-type: none;
  text-align: center;
  padding: 10px 0px;
  width: 50%;
}

.navListItem:first-child {
  margin-right: 10px;
}

.navElement {
  color: #dbdbdb;
  text-decoration: none;
  background-color: rgba(131, 131, 131, 0.3);
  backdrop-filter: blur(6px);
  padding: 5px 0px;
  border-radius: 5px;
  display: block;
  transition: 0.3s;
}

.navElement:hover {
  background-color: rgba(236, 236, 236, 0.3);
}

.currentNav {
  background-color: rgba(236, 236, 236, 0.3);
}

.particles {
  overflow: hidden;
}

.transition-top {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to bottom, black, transparent);
  position: absolute;
  top: 0px;
}

.transition-bottom {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, black);
  position: absolute;
  bottom: 0px;
  z-index: 0;
}

.footer {
  color: #dbdbdb;
  background-color: rgba(177, 177, 177, 0.3);
  backdrop-filter: blur(6px);
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

@media (min-width: 600px) {
  .wrapper {
    align-items: center;
  }

  .contentWrapper {
    justify-content: flex-start;
  }

  .navContainer {
    margin-bottom: 0px;
  }
}

@media (min-width: 1100px) {
  .main-screen {
    min-height: 700px;
  }

  .contentWrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .contentWrapper {
    justify-content: center;
  }

  .main-screen {
    max-height: 550px;
  }
}

@media (min-width: 1360px) {
  .main-screen {
    min-width: 800px;
    max-width: 1100px;
    min-height: 680px;
  }
}
